*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: rgba(1, 1, 43, 0.89);
    width: 30rem;
    padding: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new-container{
    background: orangered;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.new{
    display: flex;
    justify-content: center;  
    gap: 4rem;  
    margin-bottom: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    color: gray;
}

#input{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: rgba(1, 1, 49, 0.575);
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}

#addItem{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
    padding: 0 1rem;
}

#addItem::placeholder{
    color: whitesmoke;
    font-weight: 700;
    font-size: 1rem;
}

#addBtn{
    background: rgb(30, 100, 128);
    border-radius: 50%;
}

main h5, .completed h5{
    color: gray;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.task{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgb(1, 1, 56);
    padding: 1rem;
    color: whitesmoke;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first{
    display: flex;
    gap: 0.5rem;
    
}

input[type="checkbox"]{
    width: 1.5rem;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

.actions{
    display: flex;
    justify-content: space-between;
}

select, #date{
    outline: none;
    background: rgb(30, 100, 128);
    height: 1.8rem;
    color: white;
    font-weight: 550;
}

.finish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

#checkbox{
    display: flex;
    gap: 1rem;
}